# Database
DATABASE_URL="postgresql://user:password@localhost:5432/vam-system?schema=public"

# Postgres Config
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=vam-dev

# Redis
REDIS_URL="redis://localhost:6379"

# Discord Bot
DISCORD_TOKEN="your-discord-bot-token-here"

# API Settings
API_PORT=3000

# JWT
JWT_SECRET="your-jwt-secret-here"

# NextAuth
AUTH_SECRET="your-32-char-secret-here-replace-me"
AUTH_URL="http://localhost:3000"

# DiscordAuth
DISCORD_CLIENT_ID="your-discord-app-client-id"
DISCORD_CLIENT_SECRET="your-discord-app-client-secret"